.hero-section {
  background:
    radial-gradient(
      circle at top right,
      rgba(34, 197, 94, 0.15),
      transparent 30%
    ),
    radial-gradient(circle at top left, rgba(10, 25, 41, 0.9), transparent 40%),
    #03101b;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 3rem 0;
}
.hero-container {
  padding: 3rem 1rem;
  max-width: 1200px;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.content-left {
  max-width: 600px;
}

h3.hero-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Inter", sans-serif;

  font-size: 0.75rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

p.hero-title {
  line-height: 1;
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}
p.hero-title span {
  color: var(--color-primary);
}
p.hero-description {
  font-size: 1.25rem;
  color: var(--color-text-secondary);
  margin-bottom: 2rem;
  font-family: "Inter", sans-serif;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.hero-buttons button {
  border-radius: 50px;
  padding: 1rem 1.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.btn-primary {
  background-color: var(--color-primary);
  border: none;
}
.btn-primary:hover {
  background-color: var(--color-primary-hover);
}
.btn-secondary {
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-border);
}
.btn-secondary:hover {
  background-color: rgba(234, 234, 234, 0.07);
}

.hero-features {
  display: flex;
  gap: 2rem;
}
.hero-feature {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}
.hero-feature p {
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  color: var(--color-text-secondary);
}

.hero-feature .span-rounded {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(34, 197, 94, 0.3);
  border-radius: 50%;
  color: var(--color-primary);
  transition: 0.3s;
}

.content-right img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.hero-image-wrapper {
  position: relative;
}
.hero-overlay-top {
  position: absolute;
  background: rgba(3, 16, 27, 0.85);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1.5rem;
  padding: 1.5rem;
  top: 2rem;
  right: -2rem;
  width: 250px;
  height: 200px;
  color: var(--color-text-secondary);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.hero-overlay-bottom {
  position: absolute;
  background: rgba(3, 16, 27, 0.85);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1.5rem;
  padding: 1.5rem;
  bottom: -2rem;
  right: 1rem;
  color: var(--color-text-secondary);
}

.hero-overlay-bottom ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  list-style: none;
}
.hero-overlay-bottom li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero-overlay-bottom .overlay-icon{
  color: var(--color-primary);
}
.hero-overlay-top .overlay-icon{
  color: var(--color-primary);
}